{%extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="block">
      <h2>Pitches</h2>
      <div class="row">
          <ul class="list-unstyled">
              {{macro.displayCategory(category)}}
          </ul>
      </div>
    <!-- <div class="pitches">
        <ul class="nav nav-tabs">
          <li class="tab active" data-id="Pick-up-lines" data-value="Pick-up-lines">
              <a data-toggle="tab" >Pick-up Lines</a>
          </li>
          <li class="tab " data-id="InterviewPitch" data-value="InterviewPitch">
              <a data-toggle="tab" href="#">Interview Pitch</a>
          </li>
          <li class="tab " data-id="ProductPitch" data-value="ProductPitch">
              <a data-toggle="tab" href="#">Product Pitch</a>
          </li>
          <li class="tab " data-id="PromotionPitch" data-value="PromotionPitch">
              <a data-toggle="tab" href="#">Promotion Picth</a>
          </li>
        </ul>
    </div> -->
  </div>
</div>
{% endblock%}
