{% macro displayCategory(category_list) %} 
  {% for category in category_list%}
  <div class="col-md-2">
    <li>
      <a href="/category/{{category.id}}">{{category.name}}</a>
    </li>
  </div>
    {% endfor%}
{% endmacro%}

{% macro displayPitches(pitch_list) %} 
  {% for pitch in pitch_list%}
  <li class="list-unstyled">
    <a href="/pitch/{{pitch.id}}"><h3>{{pitch.content}}</h3></a>
   <small>date posted:{{pitch.date_posted}}</small> 
   <br>
   <small>author:{{pitch.user.username}}</small> 
  </li>
  {% endfor%}
{% endmacro%}

<!-- Display Comments -->
{% macro displayComments(comment_list) %} 
{% for comment in comment_list%}
  <li class="list-unstyled">
    {{comment.body}}
  </li>
{% endfor%}
{% endmacro%}