{% macro displayCategory(category_list) %} 
  {% for category in category_list%}
    <li class ="tab active" data-id="{{category.name}}" data-value="{{category.name}}">
      <a href="/category/{{category.id}}" data-toggle="tab">{{category.name}}</a>
    </li>
        
    {% endfor%}
{% endmacro%}

{% macro displayPitches(pitch_list) %} 
  {% for pitch in pitch_list%}
  <li class="list-unstyled">
    <a href="/pitch/{{pitch.id}}"><h3>{{pitch.content}}</h3></a>
    <p class="text-right">author:{{pitch.user.username}}</p> 
    <p class="text-right"><span id="time" >date posted:{{pitch.date_posted.strftime('%B %d, %Y %r')}}</span></p>
  </li>
  <hr>
  {% endfor%}
{% endmacro%}

<!-- Display Comments -->
{% macro displayComments(comment_list) %} 
{% for comment in comment_list%}
  <li class="list-unstyled">
    {{comment.body}}
  </li>
{% endfor%}
{% endmacro%}